# Built-in build outputs & caches
build/
**/build/
build
**/build
*.class

# Gradle files & caches
.gradle/
**/.gradle/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache

# IntelliJ / JetBrains artifacts
.idea/
**/.idea/
*.iml
**/*.iml
*.iws
*.ipr
out/
**/out/

# Android / JVM local runtime configurations
local.properties
/local.properties
.externalNativeBuild/
**/.externalNativeBuild/
.cxx/
**/.cxx/
captures/
**/captures/

# OS metadata
.DS_Store
**/.DS_Store
Thumbs.db